body {
    margin:0px;
    padding:0px;
}

.nav {
    display:flex;
    background-image: url(star-background.png);
    align-items: center;
    justify-content: flex-end;
    max-height:100px;
}

#name-icon {
    margin:auto;
    margin-left:16px;
}

.nav.nav-name {
    color: #46260e;
}

.nav-name a {
    font-weight:1000;
    font-size:30px;
    padding:16px;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    text-decoration: none;
    color: #46260e;
}

.nav img {
    cursor:pointer;
    border-radius: 50%;
    display:block;
    box-sizing: border-box;
    background-color: #46260e;
    border: 2px solid #46260e;

}

ul li {
    display:inline;
    list-style: none;
    padding: 16px;
    
}

ul li a {
    text-decoration: none;
    color:#46260e;
    font-size: 20px;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-weight:1000;
    letter-spacing: 1px;
    
}

.page-content {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height:600px;
    background-image:url('./title-vid.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

#title-page {
    display:flex;
    flex-direction: column;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    color:#46260e;
    font-weight: 1000;
    flex-wrap: wrap;
}

.page-content h1 {
    margin-bottom: 5px;
    font-size: 30px;
    color:#fbebce;
    font-weight: 1000;
}

.page-content h3 {
    text-indent: 5%;
    margin-top:0;
    color:#fbebce;
    font-weight: 1000;
}

.page-content img {
    margin:auto;
    padding-left:16px;
    display:flex;
    border-radius: 10%;
}